<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" type="text/css" href="/public/index.css">
</head>
<body>
	<%- include ./public/header.html%>
	<div id="tabbox">
		<%- include ./public/leftNav.html%>

		<table id="goodslist" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<td>图片</td><td>名称</td><td>单价</td><td>数量</td><td>操作</td>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0;i<goods.length;i++){ %>
					<tr>
						<% if(goods[i].pic) { %>
						<td><img src="/<%=goods[i].pic %>"></td>
						<% } else { %>
						<td><img src="/upload/error.png"></td>
						<% } %>
						<td><%=goods[i].name %></td>
						<td><%=goods[i].price %></td>
						<td><%=goods[i].num %></td>
						<td>
							<button class="update" data-id="<%=goods[i]._id %>">修改</button>
							<button class="delete" data-id="<%=goods[i]._id %>">删除</button>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<script type="text/javascript" src="/public/jquery.min.js"></script>
	<script type="text/javascript">
		$('.delete').click(function(){
			var id = $(this).data('id')
			var _tParent=$(this).parents('tr')
			$.ajax({
				url:"/goods/delete?id="+id,
				type:"get",
				dataType:'json',
				success: function(res){
					console.log(res)
					if(res.n == 1 && res.ok ==1){
						_tParent.remove()
					} else {
						alert('删除失败')
					}
					
				}
			})
		})

		$('.update').click(function(){
			var lcid = $(this).data('id')
			window.location.href = '/goods/update?_id='+lcid
		})
	</script>
</body>
</html>