<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上传</title>
	<link rel="stylesheet" type="text/css" href="/public/index.css">
</head>
<body>
	<%- include ./public/header.html%>
	<div id="tabbox">
		<%- include ./public/leftNav.html%>

		<div id="goodslist">
			<label>产品名&nbsp;<input type="text" id="name"></label><br>
			<label>单  价&nbsp;<input type="text" id="price"></label><br>
			<label>数  量&nbsp;<input type="text" id="num"></label><br>
			<label>图  片&nbsp;<input type="file" id="pic"></label><br> 
			<img src="" style="width: 300px;" id="uploadpic"><br>
			<button>提交</button>
		</div>
	</div>

	<script type="text/javascript" src="/public/jquery.min.js"></script>

	<script type="text/javascript">
		let img1="",imgtype="", accept=' image/jpeg, image/png, image/jpg, image/gif' 
		$('button').click(function(){
			var name = $('#name').val();
			var price = $('#price').val()
			var num = $('#num').val()
			var pic = $('#pic').val()
			var form = new FormData();
            form.append("pic", img1[0]);
            form.append("num", num);
            form.append("price", price);
            form.append("name", name);

			$.ajax({
				url:'/goods/addgoods',
				data: form,
				type:'post',
				dataType:'json',
				contentType:false,
                processData:false,
				success(res){
					console.log(res)
					if(res.n == 1 && res.ok ==1){
						alert('上传成功')
						location.href = '/goods/goodslist'
					} else {
					alert('失败')
					}
				}
			})
		})
		$('#pic').change(function(event){
				img1=event.target.files;
				type=img1[0].type;
                
                if(accept.indexOf(type) == -1) {  
                	alert('格式不正确')
                }

                var reader = new FileReader();
                // 以DataURL的形式读取文件:
                reader.readAsDataURL(img1[0]);
                reader.onload = function() {
                　　// (base64编码)'            
                   console.log(reader.result);　

                   $('#uploadpic').attr('src',reader.result)
                };

                
		})
	</script>
</body>
</html>