<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" type="text/css" href="/public/index.css">
</head>
<body>
	<%- include ./public/header.html%>
	<div id="tabbox">
		<%- include ./public/leftNav.html%>

		<div id="goodslist">
			<label>产品名&nbsp;<input type="text" id="name" value="<%=name%>"></label><br>
			<label>单&nbsp;价&nbsp;<input type="text" id="price" value="<%=price%>"></label><br>
			<label>数&nbsp;量&nbsp;<input type="text" id="num" value="<%=num%>"></label><br>
			<label>图&nbsp;片&nbsp;<input type="file" id="pic"></label><br>
			<img src="/<%=pic%>" style="width: 300px;" id="uploadpic"><br>

			<button data-id="<%=_id%>">更新</button>
		</div>
	</div>

	<script type="text/javascript" src="/public/jquery.min.js"></script>

	<script type="text/javascript">
		let img1="",imgtype="", accept=' image/jpeg, image/png, image/jpg' , picchange=false
		$('button').click(function(){
			var name = $('#name').val();
			var price = $('#price').val()
			var num = $('#num').val()
			var pic = $('#pic').val()
			var id = $(this).data('id')
			var form = new FormData();
			form.append("picchange", picchange);
			form.append("pic", img1[0]);
			
            
            form.append("num", num);
            form.append("price", price);
            form.append("name", name);
            form.append("id", id);

			$.ajax({
				url:'/goods/updategoods',
				data: form,
				type:'post',
				dataType:'json',
				contentType:false,
                processData:false,
				success(res){
					console.log(res)
					if(res.n == 1 && res.ok ==1){
						location.href = '/goods/goodslist'
					}
				}
			})
		})
		$('#pic').change(function(event){
				img1=event.target.files;
				type=img1[0].type;
                picchange= true
                if(accept.indexOf(type) == -1) {  
                	alert('格式不正确')
                }
                
                var reader = new FileReader();
                // 以DataURL的形式读取文件:
                reader.readAsDataURL(img1[0]);
                reader.onload = function() {
                　　// (base64编码)'            
                   console.log(reader.result);　

                   $('#uploadpic').attr('src',reader.result)
                };
		})
	</script>
</body>
</html>