/* *{
  margin: 0;
  padding: 0
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  font-weight: 400
}

ol,ul {
  list-style: none
}

a {
  text-decoration: none;
  color: #333
}
img {
  max-width: 100%
}

input,option,select,textarea {
  -webkit-appearance: none;
  outline: 0;
  font-size: Microsoft Yahei
}

em,i {
  font-style: normal
}

.fl {
  float: left
}

.fr {
  float: right
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

textarea {
  resize: none
}

html {
  overflow-x: hidden;
  font-size: 16px
}

@media screen and (min-width: 414px) {
  html {
      font-size:18px;
  }
} */
body,
html {
  font-family: Microsoft Yahei, Tahoma, Arial, Helvetica, STHeiti;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff !important;
}

* {
  touch-action: pan-y;
}
/*以下用于 CSSTransition组件的类名*/
.fade-enter,
.fade-appear {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.fade-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}
