#tips {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 99999999;
    display: none;
    text-align: center;
}
#tips div {
    padding: 10px 15px;
    display: inline-block;
    background: hsla(0,0%,7%,.7);
    color: #fff;
    font-size: .9rem;
    border-radius: 5px;
    margin:32vh 15px 0;
}
#tips.error div {
    background: hsla(0, 100%, 48%, 0.7);
}
#tips div.load{
    padding: 20px;
}
#tips .loading {
    background: url(/Public/common/images/loading.gif) center top no-repeat;
    background-size: 2rem 2rem;
    padding-top: 2.6rem;
}

