body{
	background: #efeff4;
}

/*我的收入*/
.today_income_box{
	position: relative;
}
.today_income{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	color: #fff;
}
.today_income h3{
	font-size: 5rem;
	line-height: 1;
	margin-top: 3.5rem;
}
.today_income p{
	font-size: 1.07rem;
	color: rgba(255,255,255,0.5);
	margin-top: 0.2rem;
}
.today_income_box ul {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 1.7rem;
}
.today_income_box img{
	display: block;
}
.today_income_box ul li{
	text-align: center;
}
.today_income_box ul li h4{
	font-size: 1.14rem;
}
.today_income_box ul li p{
	font-size: 0.93rem;
	color: #888888;
}
.rules_link{
	position: absolute;
	right: 0;
	top: 1.07rem;
	color: #fff;
	background:#8ddd91;
	padding: 0.2rem 0.9rem;
	border-radius: 2rem 0rem 0rem 2rem;
	font-size: 1.07rem;
}
.update_data{
	background: #fff;
}
.update_data a h3{
	font-size: 1.14rem;
}
.update_data a p{
	font-size: 1.07rem;
}
.update_data a span{
	color: #ff3300;
}
.update_msg{
	font-size: 0.88rem;
	color: #888888;
	line-height: 2.1rem;
	padding-left: 15px;
}
.foot_btn{
	position: fixed;
	width: 100%;
	max-width: 750px;
	bottom: 0;
	text-align: center;
	background: #1aad19;
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 1.2rem;
}
.foot_btn a{
	color: #fff;
}
.foot_btn a:first-child{
	background: #fff;
	color: #1aad19;
}

/*我的qianbao*/
.wallet_money{
	background: url(../images/wallet_bg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 1.86rem 2rem 3.285rem 2.9rem;
}
.wallet_money h2{
	font-size: 1.07rem;
}
.wallet_money p{
	font-size: 3rem;
	line-height: 1;
	margin-top: 0.65rem;
}
.wallet_money a{
	color: #fff;
}
.withdraw_link{
	text-align: right;
	margin-top: 2rem;
}
.withdraw_link a{
	font-size: 1.14rem;
	padding: 0.5rem 2.45rem;
	border:1px solid #fff;
	border-radius:0.4rem;
}
.detail_link{
	background:#fff;
	padding: 1rem 0;
	text-align: center;
	font-size: 1.14rem;
}
.detail_link img{
	width: 2rem;
	vertical-align: middle;
	padding-right: 1.2rem;
}
.detail_link a{
	padding: 0.28rem 0;
}
.detail_link a:first-child{
	border-right: 1px solid #e5e5e5;
}	
.withdraw_warn {
	background: #fff;
	margin-top: 10px;
}
.withdraw_warn h2{
	font-size: 1.14rem;
	padding-left: 15px;
	line-height: 2.8rem;
}

.withdraw_warn h2 img{
	width: 1.6rem;
	vertical-align: -0.25rem;
	padding-right: 0.8rem;
}
.withdraw_warn h2 span{
	color: #ff3300;
}
.withdraw_warn ul li{
	padding:10px 15px;
	position: relative;
}
.withdraw_warn ul li:after{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.withdraw_warn ul li h3{
	font-size: 1.28rem;
	line-height: 1.3;
}
.withdraw_warn ul li h3 span{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	background: #1aad29;
	vertical-align: middle;
	margin-right: 1rem;
}
.w_into{
	padding-left: 1.4rem;
	font-size: 1.07rem;
	color: #666;
	line-height: 2;
}
.w_into em{
	color: #576b9e;
}
.w_into span{
	color: #ff0000;
}
.w_time{
	padding-left: 1.4rem;
	line-height: 1;
	margin-top: 0.3rem;
}
.w_time dt{
	font-size: 0.8rem;
	color: #888;
}
.w_time dd{
	font-size: 0.88rem;
	width: 70.5px;
}

/*账单明细*/
.detail_money{
	text-align: center;
}
.detail_main{
	background: #fff;
}
.detail_main .weui-cell:before{
	left: 0;
}
.detail_main li h3{
	font-size: 1.28rem;
}
.detail_main li time{
	font-size: 0.8rem;
	color: #888888;
}
.detail_main li p{
	font-size: 1.3rem;
	color: #333;
}
.detail_main li p.on{
	color:#1aad19; 
}

/*常见问题*/
.problem_list{
	background: #fff;
	padding:10px 15px;
}
.problem_list h2{
	color: #1aad19;
	line-height: 1;
	font-size: 1.2rem;
}
.problem_list p{
	font-size: 1.1rem;
	line-height: 1.2;
	margin-top: 1rem;
}
.problem_list_m{
	margin-top: 10px;
}

/*申请提现*/
.union{
	background: #fff;
	margin-top: 20px;
}
.union img{
  width: 4.5rem;
  padding-right: 0.7rem;
}
.union h2{
	font-size: 1.07rem;
}
.union p{
	font-size: 0.88rem;
	color: #888888;
}
.union_tip{
	padding:0 15px;
	text-align: center;
	font-size: 0.93rem;
	color: #888888;
	margin-top: 1.1rem;
}
.union_tip span{
	color: #007eff;
}
.tel_union{
	position: fixed;
	bottom:3rem;
	width: 100%;
	max-width: 750px;
	text-align: center;
	color: #888;
	font-size: 0.93rem;
}
.tel_union a{
	color: #007eff;
}
.apply_suc{
	text-align: center;
	padding: 2.2rem 1.6rem;
}
.apply_suc img{
	width: 24%;
}
.apply_suc_info h2{
	color: #666;
}
.apply_suc p{
	margin-top: 1.3rem;
}
.apply_suc_info{
	background: #fff;
	padding: 10px 15px;
	line-height: 2.2rem;
}
.apply_suc_over{
	margin:1.8rem 20px;
}

/*提现记录*/
.apply_record{
	margin-top: 20px;
}

/*提现金额*/
.apply_money_box{
	padding: 20px 15px;
}
.add_bcard{
	background: #fbfbfb;
	padding: 20px 10px;
}
.add_bcard a{
	text-align: center;
	display: block;
	border: 1px dashed #e6e6e6;
	border-radius: 4px;
	font-size: 1.07rem;
	color: #888888;
	padding:8px 0;
}
.add_bcard a img{
	width: 1.07rem;
	padding-right: 10px;
}
.apply_money {
	background: #fff;
	padding: 0 2rem;
}
.apply_money h3{
	font-size: 1.07rem;
	padding: 13px 0 18px
}
.apply_money_fill{
	padding-bottom: 12px;
	position: relative;
}
.apply_money_fill:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.apply_money_fill input{
	border:none;
	font-size: 3rem;
	width: 80%;
	padding-left: 5px;
}
.apply_money_fill span{
	vertical-align: 0.8rem;
	font-size: 2.2rem;
}
.fee{
	font-size: 0.88rem;
	color: #888888;
	padding:1.4rem 0 2.35rem;
}
.dz_tip{
	font-size: 0.88rem;
	color: #888888;
	text-align: center;
	margin-top: 0.75rem;
	padding-bottom: 1.55rem;
}
.to_bank{
	font-size: 1.07rem;
}
.to_bank h2{
	padding-right: 1.4rem;
}
.to_bank h3{
	color: #576b9e;
}
.to_bank p{
	font-size: 0.88rem;
	color: #888888;
	margin-top: 0.4rem;
}

/*新增银行卡*/
.bank_fill_box{
	margin-top: 20px;
}
.bank_fill{
	background: #fff;
}
.bank_fill label{
	width: 7rem;
	font-size: 1.14rem;
}
.bank_fill input{
	font-size: 1.07rem;
}
.cut_line{
	height: 10px;
}
.bank_fill p{
	border:1px solid #1aad19;
	padding:0 0.5rem;
	border-radius: 4px;
	color: #1aad19;
}
.bank_fill_1:before{
	border:none;
}

/*领取福利*/
.welfare img{
	display: block;
	border:none;
}
.wel_pup_box{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 22;
	display: none;
}
.wel_pup {
	position: relative;
	top: 18vh;
	width: 100%;
}
.wel_pup img{
	display: block;
	border:none;
}
.wel_close{
	width: 2.5rem;
	margin:0.7rem auto;
}

/*推广详情*/
.pro_de img{
	display: block;
	border:none;
}
.now_yq{
	display: block;
	position: fixed;
	width: 100%;
	height: 3.2rem;
	line-height: 3.2rem;
	bottom: 0;
	text-align: center;
	background: #ff3300;
	font-size: 1.07rem;
	color: #fff;
}
/*去推广——邀请有奖*/
.go_pro dl{
	position: relative;
}
.go_pro dl dd{
	position: absolute;
	width: 100%;
	padding: 0 20px;
	top:1.28rem;
	overflow: hidden;
	color: #fff;
	font-size: 0.92rem; 
}
.go_pro dl dd ul{
	padding: 0 1.2rem;
	height: 1.8rem;
	line-height: 1.8rem;
	background: #d03642;
	border-radius:0.35rem;
}
.go_pro dl dd ul li{
	
}
.go_pro dl dd ul li span{
	display: block;
}
.go_pro dl dd a{
	color: #fff;
	padding: 0 0.64rem;
	height: 1.8rem;
	line-height: 1.8rem;
	background: #272344;
	border-radius:0.35rem;
}
.go_pro img{
	display: block;
	border: none;
}
.face_ewm{
	padding: 0 4rem;
	overflow: hidden;
	font-size: 1.07rem;
	margin-top: 1.4rem;
}
.face_ewm img{
	width:1.4rem;
	vertical-align: -0.2rem; 
	padding-right: 0.1rem;
}
.link_btn a{
	color: #d0430c;
	border-bottom: 1px solid #da5a10;
	padding-bottom: 0.1rem;
}
.link_btn button{
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid #da5a10;
	color: #d0430c; 
	padding-bottom: 0.1rem;
}
.link_btn a{
	display: block;
}
.link_rule{
	text-align: center;
}
.link_jl{
	text-align: right;
	padding-right: 15px;
	color: #1aad19;
	margin-top: 15px;
}
.jl_js{
	position: relative;
}
.jl_js p{
	background: #d03642;
	border-radius: 0.7rem;
	width: 36%;
	position: absolute;
	top: 0;
	left: 32%;
	text-align: center;
	color: #fff;
	font-size: 0.92rem;
	line-height: 1.8rem;
	height: 1.8rem;
}
.join_tj{
	margin:0.9rem 20px;
	background: #ffffff;
	text-align: center;
	height: 2.85rem;
	line-height: 2.85rem;
	color: #d0430c;
	font-weight: bold;
	font-size: 1.29rem;
	border-radius: 5px;
	box-shadow:0 3px 0 #da5a10; 
}
.join_tj img{
	width: 1.5rem;
	padding-right: 10px;
}
.share_tip{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	max-width: 750px;
	background: rgba(0,0,0,0.5);
}

.box {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 750px;
    background:rgba(0,0,0,0.5);
    
}
.winBox {
    height:22px;
    overflow:hidden;
    position:relative;
    font-size: 12px;
}
.mdm_sm{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	max-width: 750px;
	z-index: 88;
	top: 0;
}
.mdm_sm img{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 50%;
	transform:translate(0,-50%);
}

/*选择银行卡开始*/
.sel_bank_card_pup{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 750px;
    background: rgba(0,0,0,0.5);
    top: 0;
    z-index: 55;
}
.sel_bank_card{
    position: relative;
    top: 50%;
    width: 80%;
    background: #fff;
    transform: translate(0,-50%);
    left: 10%;
    padding: 1.6rem 1.78rem 3rem;
    border-radius: 10px;
}
.sel_bank_card h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.sel_bank_card label{
    background: url(../images/sel.png) center center no-repeat;
    background-size: cover;
    width: 1.2rem;
    height: 1.21rem;
}
.sel_bank_card input:checked + label{
    background: url(../images/sel_on.png) center center no-repeat;
    background-size: cover;
}
/*选择银行卡开始*/


.jl_dielog_box{
	position: fixed;
	width: 100%;
	max-width: 750px;
	background: rgba(0,0,0,0.5);
	top: 0;
	height: 100%;
	z-index: 9999;
}
.jl_dielog {
	position: relative;
	width: 68%;
	left:16%;
	top: 17vh;
}
.jl_dielog img{
	display: block;
}
.jl_dielog dl{
	padding:0 1.6rem;
	background: #fff;
}
.jl_dielog dl dt{
	font-size: 1.15rem;
	font-weight: bold;
	text-align: center;
}
.jl_dielog dl dd{
	font-size: 0.85rem;
	padding: 0.8rem 0 0.4rem;
}
.n_close{
	position: absolute;
	width: 0.8rem;
	right: 0.6rem;
	top: 5rem;
}
.g_close{
	position: absolute;
	width: 0.8rem;
	right: 0rem;
	top: 5.5rem;
}
.append_ca img{
	width: 1rem;
	vertical-align: -0.1rem;
	padding-right: 0.4rem;
}