.footerbox{
    position: fixed;
    height: 3.5rem;
    bottom:0;
    display: flex;
    align-self: center;
    width: 100%;
    border-top:1px solid #d9d9d9;
    max-width:750px;
}
.footerbox a{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9rem
}
.footerbox a img{
    height: 1.4rem;
    display: block;
}
.footerbox a span{
    text-align: center;
    font-size: .8rem;
    margin-top: .1rem;
    color:#333
}
.footerbox a span.on{
    color: #108ee9;
}